.album-row{
  width: 100%;
}

.album-row-content{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: auto;
  scroll-snap-type: x proximity;

  width: 100%;
}

/* .album-row-content{
  display: flex;
	white-space: nowrap;
  overflow-x: auto;
  gap: 5px;
  width: 100%;
} */

.album-row > h2{
  margin: 0;
  padding: 0;
  line-height: 13px;
  margin-bottom: 25px;
}

.extra-content{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}