.post-content{
  word-break: break-all;

  max-height: 400px;
  overflow-y: auto;
}

.card-post{
  width: 100%;
  border-radius: 0;
  height: min-content;
  max-height: (250px);
}

.card-post .ant-card-meta-title{
  margin-bottom: 0 !important;
}

.card-post .ant-divider{
  margin: 20px 0;
}

.like-deslike-box{
  display: flex;
  justify-content: end;
  gap: 10px;
}

.like-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}