.album_info_grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "foto info"
                       "foto info"
                       "foto info";
}

.foto {
  grid-area: foto;
  margin: auto; 
}

.foto > img {
  width: 100%;
  max-width: 300px;
}


.info {
  border-left: #ccc solid 2px;
  grid-area: info;
  
  text-align: justify;
  padding: 30px;
}

.input-score {
  margin-top: 20px;
}

.input-score button {
  width: 100%;
} 