.search_album_grid{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "le m ld"
                       "le m ld"
                       "le m ld";
}

.search_album_grid .le{
  grid-area: le;
}

.search_album_grid .m{
  grid-area: m;
  height: 100%;
}

.search_album_grid .ld{
  grid-area: ld;
}

.search_album_grid .card_album{
  margin: '0px 5px 0px 5px';
}

.search_album_grid .div_search{
  width: 100%;
  display: flex;
  justify-content: end;
}

.div_search > div{
  width: 30%;
  text-align: start;
}