.home_grid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "le m ld"
                       "le m ld"
                       "le m ld";
  padding-top: 60px;
}

.le{
  grid-area: le;
}

.m{
  grid-area: m;
}

.ld{
  grid-area: ld;
}

.grid_albuns{
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
}